PG_USER=YOUR_PG_USER
PG_PASSWORD=YOUR_PG_PASSWORD
PG_URL=YOUR_PG_URL

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

JWT_SECRET=YOUR_JWT_SECRET
JWT_REFRESH_EXPIRATION=YOUR_JWT_REFRESH_EXPIRATION
JWT_ACCESS_EXPIRATION=YOUR_JWT_ACCESS_EXPIRATION
JWT_ISSUER=YOUR_JWT_ISSUER
JWT_OAUTH_LOGIN_CODE_EXPIRATION=YOUR_JWT_OAUTH_LOGIN_CODE_EXPIRATION

COOKIE_SAME_SITE=YOUR_COOKIE_SAME_SITE
COOKIE_SECURE=YOUR_COOKIE_SECURE

R2_ENDPOINT=YOUR_R2_ENDPOINT
R2_ACCESS_KEY=YOUR_R2_ACCESS_KEY
R2_SECRET_KEY=YOUR_R2_SECRET_KEY
R2_BUCKET=YOUR_R2_BUCKET

AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION

JINA_API_KEY=YOUR_JINA_API_KEY

CLOUDFLARE_API_KEY=YOUR_CLOUDFLARE_API_KEY
CLOUDFLARE_ACCOUNT_ID=YOUR_CLOUDFLARE_ACCOUNT_ID

UPSTASH_REDIS_URL=YOUR_UPSTASH_REDIS_URL